<header>
<div id="id_header_div_user" tabindex="1" title="Nhấp để tới phần quản lý tài khoản.">
    <a href="{% url 'practice:view_profile' request.user.id %}"><strong>{{user.name|truncatechars:60}}</strong> <em>{{user.code}}</em></a>
</div>
<div id="id_header_buttons">
    <!-- button change password -->
    <a class="button" href="{{change_password_link}}">Đổi mật khẩu</a>
    <!-- end button change password -->
    <!-- button logout -->
    <a class="button" id="button_logout" href="#logout_dialog">Đăng Xuất</a>
    <dialog id="logout_dialog"
            onfocus="this.querySelector('form>div>a.button[name=button_cancel]').focus();">
        <form method="post" action="{{logout_link}}">
            <h2>ĐĂNG XUẤT</h2>
            {% csrf_token %}
            <p>Bạn chắc chắn muốn đăng xuất chứ!</p>
            <div style="box-sizing:border-box;display:flex;justify-content:space-around;gap:16px;">
                <button type="submit" tabindex="2"
                        onfocusout="this.siblings('a.button[name=button_cancel]').focus();">Đăng Xuất
                </button>
                <a class="button" tabindex="1" name="button_cancel" href="#button_logout">Không</a>
            </div>
        </form>
    </dialog>
    <!-- end button logout -->
</div>
</header>
<div id="id_header_nav">
    <nav>
        <a href="{% url 'practice:view_unanswered_questions' %}?tid={{current_tag_id}}&limit={{current_limit}}"
           class="{% if 'practice:view_unanswered_questions' == current_path_name %}selected_a{% endif %}">Câu hỏi chưa làm</a>
        <a href="{% url 'practice:view_answered_questions' %}?tid={{tag_id}}&limit={{limit}}"
           class="{% if 'practice:view_answered_questions' == current_path_name %}selected_a{% endif %}">Câu hỏi đã làm</a>
        <a href="{% url 'practice:view_created_questions' %}?tid={{tag_id}}&limit={{limit}}"
           class="{% if 'practice:view_created_questions' == current_path_name %}selected_a{% endif %}">Câu hỏi đã tạo</a>
        {% if role == 'Admin' %}
            <a href="{% url 'practice:view_pending_questions_by_admin' %}?tid={{current_tag_id}}&limit={{current_limit}}"
               class="{% if 'practice:view_pending_questions_by_admin' == current_path_name %}selected_a{% endif %}">Câu hỏi chờ duyệt</a>
            <a href="{% url 'practice:view_locked_questions_by_admin' %}?tid={{tag_id}}&limit={{limit}}"
               class="{% if 'practice:view_locked_questions_by_admin' == current_path_name %}selected_a{% endif %}">Câu hỏi đã khóa</a>
            <a href="{% url 'practice:view_approved_questions_by_admin' %}?tid={{tag_id}}&limit={{limit}}"
               class="{% if 'practice:view_approved_questions_by_admin' == current_path_name %}selected_a{% endif %}">Câu hỏi đã duyệt</a>
            <a href="{% url 'practice:view_unapproved_questions_by_admin' %}?tid={{tag_id}}&limit={{limit}}"
               class="{% if 'practice:view_unapproved_questions_by_admin' == current_path_name %}selected_a{% endif %}">Câu hỏi không duyệt</a>
        {% endif %}
    </nav>
</div>