<header>
    <div id="id_header_div_user" tabindex="1" title="Nhấp để tới phần quản lý tài khoản.">
        <a href="{% url 'practice:process_profile' request.user.id %}">
            <em>&nbsp;{{user.code}}</em>
            <strong data-3></strong>
            <strong data-username style="width:100%;">
                <noscript>
                    {% if user.role != 'Admin' %}
                        {{user.name|truncatechars:10}}
                    {% else %}
                        {{user.name|truncatechars:50}}
                    {% endif %}
                </noscript>
                {% if user.role != 'Admin' %}
                    <style>
                        #id_header_div_user {
                            grid-column-end: 3;
                        }
                </style>
                {% endif %}
                <script>
                    document.querySelector("#id_header_div_user>a>strong[data-username]").innerText = '{{user.name}}';
                    function getUsername() {
                        {# font-size=13px code=#xxxxxx padding-l-r:8px border-l-r:1px if window.innerWidth > 800: add_padding-l-r:8px #}
                        {# #id_header_buttons max-width: 216px #}
                        const w = Number.parseInt(document.querySelector("#id_header_div_user").offsetWidth - 16 - document.querySelector("#id_header_div_user>a>em").offsetWidth);
                        if (w <= 14) {
                            document.querySelector("#id_header_div_user>a>strong[data-username]").innerText = '';
                        }
                        else if (document.querySelector("#id_header_div_user>a>strong[data-username]").offsetWidth > w) {
                            let user_name = document.querySelector("#id_header_div_user>a>strong[data-username]").innerText;
                            document.querySelector("#id_header_div_user>a>strong[data-3]").innerText = '...';
                            const w1 = w - document.querySelector("#id_header_div_user>a>strong[data-3]").offsetWidth;
                            while(user_name.length > 0 && document.querySelector("#id_header_div_user>a>strong[data-username]").offsetWidth > w1) {
                                user_name = user_name.substring(0, user_name.length - 1);
                                document.querySelector("#id_header_div_user>a>strong[data-username]").innerText = user_name;
                            }
                            document.querySelector("#id_header_div_user>a").style.width = document.querySelector("#id_header_div_user>a>strong[data-username]").offsetWidth + document.querySelector("#id_header_div_user>a>strong[data-3]").offsetWidth + document.querySelector("#id_header_div_user>a>em").offsetWidth + 16;
                            document.querySelector("#id_header_div_user>a").style.minWidth = document.querySelector("#id_header_div_user>a>strong[data-username]").offsetWidth + document.querySelector("#id_header_div_user>a>strong[data-3]").offsetWidth + document.querySelector("#id_header_div_user>a>em").offsetWidth + 16;
                        }
                    }
                    getUsername()
                </script>
            </strong>
        </a>
    </div>
    {% if role == 'Admin' %}
        <nav id="id_header_nav">
            {% if not type %}
                <a href="{% url 'practice:view_pending_questions_by_admin' %}" class="selected_a">Câu hỏi</a>
                <a href="{% url 'practice:view_unlocked_question_evaluations_by_admin' %}">Đánh giá</a>
                <a href="{% url 'practice:view_unlocked_comments_by_admin' %}">Bình luận</a>
                <a href="{% url 'practice:view_unlocked_users_by_admin' %}">Người dùng</a>
            {% elif type == 'evaluation' %}
                <a href="{% url 'practice:view_unlocked_question_evaluations_by_admin' %}" class="selected_a">Đánh giá</a>
                <a href="{% url 'practice:view_pending_questions_by_admin' %}">Câu hỏi</a>
                <a href="{% url 'practice:view_unlocked_comments_by_admin' %}">Bình luận</a>
                <a href="{% url 'practice:view_unlocked_users_by_admin' %}">Người dùng</a>
            {% elif type == 'comment' %}
                <a href="{% url 'practice:view_unlocked_comments_by_admin' %}" class="selected_a">Bình luận</a>
                <a href="{% url 'practice:view_pending_questions_by_admin' %}">Câu hỏi</a>
                <a href="{% url 'practice:view_unlocked_question_evaluations_by_admin' %}">Đánh giá</a>
                <a href="{% url 'practice:view_unlocked_users_by_admin' %}">Người dùng</a>
            {% elif type == 'user' %}
                <a href="{% url 'practice:view_unlocked_users_by_admin' %}" class="selected_a">Người dùng</a>
                <a href="{% url 'practice:view_pending_questions_by_admin' %}">Câu hỏi</a>
                <a href="{% url 'practice:view_unlocked_question_evaluations_by_admin' %}">Đánh giá</a>
                <a href="{% url 'practice:view_unlocked_comments_by_admin' %}">Bình luận</a>
            {% else %}
                <a href="{% url 'practice:view_pending_questions_by_admin' %}">Câu hỏi</a>
                <a href="{% url 'practice:view_unlocked_question_evaluations_by_admin' %}">Đánh giá</a>
                <a href="{% url 'practice:view_unlocked_comments_by_admin' %}">Bình luận</a>
                <a href="{% url 'practice:view_unlocked_users_by_admin' %}">Người dùng</a>
            {% endif %}
        </nav>
    {% endif %}
    <div id="id_header_buttons">
        <!-- button change password -->
        <a class="button" href="{% url 'users:change_password' %}">Đổi mật khẩu</a>
        <!-- end button change password -->
        <!-- button logout -->
        <a class="button" id="button_logout" href="#logout_dialog">Đăng Xuất</a>
        <dialog id="logout_dialog"
                onfocus="this.querySelector('form>div>a.button[name=button_cancel]').focus();">
            <form method="post" action="{% url 'users:logout' %}">
                <h2>ĐĂNG XUẤT</h2>
                {% csrf_token %}
                <p>Bạn chắc chắn muốn đăng xuất chứ!</p>
                <div style="box-sizing:border-box;display:flex;justify-content:space-around;gap:16px;">
                    <button type="submit" tabindex="2"
                            onfocusout="this.siblings('a.button[name=button_cancel]').focus();">Đăng Xuất
                    </button>
                    <a class="button" tabindex="1" name="button_cancel" href="#button_logout">Không</a>
                </div>
            </form>
        </dialog>
        <!-- end button logout -->
    </div>
</header>
<div id="id_nav">
    {% if not type %}
        <nav>
            {% if role == 'User' %}
                {% if 'practice:view_unanswered_questions' == current_path_name %}
                    <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Câu hỏi chưa làm</a>
                    <a href="{% url 'practice:view_answered_questions' %}">Câu hỏi đã làm</a>
                    <a href="{% url 'practice:view_created_questions' %}">Câu hỏi đã tạo</a>
                {% elif 'practice:view_answered_questions' == current_path_name %}
                    <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Câu hỏi đã làm</a>
                    <a href="{% url 'practice:view_unanswered_questions' %}">Câu hỏi chưa làm</a>
                    <a href="{% url 'practice:view_created_questions' %}">Câu hỏi đã tạo</a>
                {% elif 'practice:view_created_questions' == current_path_name %}
                    <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Câu hỏi đã tạo</a>
                    <a href="{% url 'practice:view_unanswered_questions' %}">Câu hỏi chưa làm</a>
                    <a href="{% url 'practice:view_answered_questions' %}">Câu hỏi đã làm</a>
                {% else %}
                    <a href="{% url 'practice:view_unanswered_questions' %}">Câu hỏi chưa làm</a>
                    <a href="{% url 'practice:view_answered_questions' %}">Câu hỏi đã làm</a>
                    <a href="{% url 'practice:view_created_questions' %}">Câu hỏi đã tạo</a>
                {% endif %}
            {% elif role == 'Admin' %}
                {% if 'practice:view_pending_questions_by_admin' == current_path_name %}
                    <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Câu hỏi chờ duyệt</a>
                    <a href="{% url 'practice:view_approved_questions_by_admin' %}">Câu hỏi đã duyệt</a>
                    <a href="{% url 'practice:view_unapproved_questions_by_admin' %}">Câu hỏi không duyệt</a>
                    <a href="{% url 'practice:view_locked_questions_by_admin' %}">Câu hỏi đã ẩn</a>
                    <a href="{% url 'practice:process_question_tags_by_admin' %}">Nhãn câu hỏi</a>
                {% elif 'practice:view_approved_questions_by_admin' == current_path_name %}
                    <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Câu hỏi đã duyệt</a>
                    <a href="{% url 'practice:view_pending_questions_by_admin' %}">Câu hỏi chờ duyệt</a>
                    <a href="{% url 'practice:view_unapproved_questions_by_admin' %}">Câu hỏi không duyệt</a>
                    <a href="{% url 'practice:view_locked_questions_by_admin' %}">Câu hỏi đã ẩn</a>
                    <a href="{% url 'practice:process_question_tags_by_admin' %}">Nhãn câu hỏi</a>
                {% elif 'practice:view_unapproved_questions_by_admin' == current_path_name %}
                    <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Câu hỏi không duyệt</a>
                    <a href="{% url 'practice:view_pending_questions_by_admin' %}">Câu hỏi chờ duyệt</a>
                    <a href="{% url 'practice:view_approved_questions_by_admin' %}">Câu hỏi đã duyệt</a>
                    <a href="{% url 'practice:view_locked_questions_by_admin' %}">Câu hỏi đã ẩn</a>
                    <a href="{% url 'practice:process_question_tags_by_admin' %}">Nhãn câu hỏi</a>
                {% elif 'practice:view_locked_questions_by_admin' == current_path_name %}
                    <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Câu hỏi đã ẩn</a>
                    <a href="{% url 'practice:view_pending_questions_by_admin' %}">Câu hỏi chờ duyệt</a>
                    <a href="{% url 'practice:view_approved_questions_by_admin' %}">Câu hỏi đã duyệt</a>
                    <a href="{% url 'practice:view_unapproved_questions_by_admin' %}">Câu hỏi không duyệt</a>
                    <a href="{% url 'practice:process_question_tags_by_admin' %}">Nhãn câu hỏi</a>
                {% elif 'practice:process_question_tags_by_admin' == current_path_name %}
                    <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Nhãn câu hỏi</a>
                    <a href="{% url 'practice:view_pending_questions_by_admin' %}">Câu hỏi chờ duyệt</a>
                    <a href="{% url 'practice:view_approved_questions_by_admin' %}">Câu hỏi đã duyệt</a>
                    <a href="{% url 'practice:view_unapproved_questions_by_admin' %}">Câu hỏi không duyệt</a>
                    <a href="{% url 'practice:view_locked_questions_by_admin' %}">Câu hỏi đã ẩn</a>
                {% else %}
                    <a href="{% url 'practice:view_pending_questions_by_admin' %}">Câu hỏi chờ duyệt</a>
                    <a href="{% url 'practice:view_approved_questions_by_admin' %}">Câu hỏi đã duyệt</a>
                    <a href="{% url 'practice:view_unapproved_questions_by_admin' %}">Câu hỏi không duyệt</a>
                    <a href="{% url 'practice:view_locked_questions_by_admin' %}">Câu hỏi đã ẩn</a>
                    <a href="{% url 'practice:process_question_tags_by_admin' %}">Nhãn câu hỏi</a>
                {% endif %}
            {% endif %}
        </nav>
    {% elif type == 'evaluation' %}
        <nav>
            {% if 'practice:view_unlocked_question_evaluations_by_admin' == current_path_name %}
                <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a" style="min-width:fit-content;padding:0 8px;">Đánh giá câu hỏi chờ xử lý</a>
                <a href="{% url 'practice:view_unlocked_comment_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá bình luận chờ xử lý</a>
                <a href="{% url 'practice:view_locked_question_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá câu hỏi đã xử lý</a>
                <a href="{% url 'practice:view_locked_comment_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá bình luận đã xử lý</a>
            {% elif 'practice:view_unlocked_comment_evaluations_by_admin' == current_path_name %}
                <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a" style="min-width:fit-content;padding:0 8px;">Đánh giá bình luận chờ xử lý</a>
                <a href="{% url 'practice:view_unlocked_question_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá câu hỏi chờ xử lý</a>
                <a href="{% url 'practice:view_locked_question_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá câu hỏi đã xử lý</a>
                <a href="{% url 'practice:view_locked_comment_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá bình luận đã xử lý</a>
            {% elif 'practice:view_locked_question_evaluations_by_admin' == current_path_name %}
                <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a" style="min-width:fit-content;padding:0 8px;">Đánh giá câu hỏi đã xử lý</a>
                <a href="{% url 'practice:view_unlocked_question_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá câu hỏi chờ xử lý</a>
                <a href="{% url 'practice:view_unlocked_comment_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá bình luận chờ xử lý</a>
                <a href="{% url 'practice:view_locked_comment_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá bình luận đã xử lý</a>
            {% elif 'practice:view_locked_comment_evaluations_by_admin' == current_path_name %}
                <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a" style="min-width:fit-content;padding:0 8px;">Đánh giá bình luận đã xử lý</a>
                <a href="{% url 'practice:view_unlocked_question_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá câu hỏi chờ xử lý</a>
                <a href="{% url 'practice:view_unlocked_comment_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá bình luận chờ xử lý</a>
                <a href="{% url 'practice:view_locked_question_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá câu hỏi đã xử lý</a>
            {% else %}
                <a href="{% url 'practice:view_unlocked_question_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá câu hỏi chờ xử lý</a>
                <a href="{% url 'practice:view_unlocked_comment_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá bình luận chờ xử lý</a>
                <a href="{% url 'practice:view_locked_question_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá câu hỏi đã xử lý</a>
                <a href="{% url 'practice:view_locked_comment_evaluations_by_admin' %}" style="min-width:fit-content;padding:0 8px;">Đánh giá bình luận đã xử lý</a>
            {% endif %}
        </nav>
    {% elif type == 'comment' %}
        <nav>
            {% if 'practice:view_unlocked_comments_by_admin' == current_path_name %}
                <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Bình luận không ẩn</a>
                <a href="{% url 'practice:view_locked_comments_by_admin' %}">Bình luận đã ẩn</a>
            {% elif 'practice:view_locked_comments_by_admin' == current_path_name %}
                <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Bình luận đã ẩn</a>
                <a href="{% url 'practice:view_unlocked_comments_by_admin' %}">Bình luận không ẩn</a>
            {% else %}
                <a href="{% url 'practice:view_unlocked_comments_by_admin' %}">Bình luận không ẩn</a>
                <a href="{% url 'practice:view_locked_comments_by_admin' %}">Bình luận đã ẩn</a>
            {% endif %}
        </nav>
    {% elif type == 'user' %}
        <nav>
            {% if 'practice:view_unlocked_users_by_admin' == current_path_name %}
                <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Người dùng chưa khóa</a>
                <a href="{% url 'practice:view_locked_users_by_admin' %}">Người dùng đã khóa</a>
            {% elif 'practice:view_locked_users_by_admin' == current_path_name %}
                <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}" class="selected_a">Người dùng đã khóa</a>
                <a href="{% url 'practice:view_unlocked_users_by_admin' %}">Người dùng chưa khóa</a>
            {% else %}
                <a href="{% url 'practice:view_unlocked_users_by_admin' %}">Người dùng chưa khóa</a>
                <a href="{% url 'practice:view_locked_users_by_admin' %}">Người dùng đã khóa</a>
            {% endif %}
        </nav>
    {% endif %}
</div>