<nav class="in_main_nav">
    <a href="{{current_include_limit_exclude_offset_url}}&offset=1">&lt;&lt;</a>
    <a href="{{current_include_limit_exclude_offset_url}}&offset={% if current_page_offset > 1 %}{{current_page_offset|add:-1}}{% else %}1{% endif %}">&lt;</a>

    {% if current_page_range|length > 4 %}
        {% if current_page_offset == 1 or current_page_offset == current_page_range|length %}
            <a class="{% if current_page_offset == 1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=1">1</a>
            <a class="{% if current_page_offset == 2 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=2">2</a>
            ...
            <a class="{% if current_page_offset == current_page_range|length|add:-1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length|add:-1}}">{{current_page_range|length|add:-1}}</a>
            <a class="{% if current_page_offset == current_page_range|length %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length}}">{{current_page_range|length}}</a>
        {% elif current_page_offset == 2 %}
            <a class="{% if current_page_offset == 1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=1">1</a>
            <a class="{% if current_page_offset == 2 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=2">2</a>
            <a class="{% if current_page_offset == 3 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=3">3</a>
            {% if current_page_range|length > 5 %}
            ...
            {% endif %}
            <a class="{% if current_page_offset == current_page_range|length|add:-1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length|add:-1}}">{{current_page_range|length|add:-1}}</a>
            <a class="{% if current_page_offset == current_page_range|length %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length}}">{{current_page_range|length}}</a>
        {% elif current_page_offset == current_page_range|length|add:-1 %}
            <a class="{% if current_page_offset == 1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=1">1</a>
            <a class="{% if current_page_offset == 2 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=2">2</a>
            {% if current_page_range|length > 5 %}
            ...
            {% endif %}
            <a class="{% if current_page_offset == current_page_range|length|add:-2 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length|add:-2}}">{{current_page_range|length|add:-2}}</a>
            <a class="{% if current_page_offset == current_page_range|length|add:-1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length|add:-1}}">{{current_page_range|length|add:-1}}</a>
            <a class="{% if current_page_offset == current_page_range|length %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length}}">{{current_page_range|length}}</a>
        {% elif current_page_offset == 3 %}
            <a class="{% if current_page_offset == 1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=1">1</a>
            <a class="{% if current_page_offset == 2 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=2">2</a>
            <a class="{% if current_page_offset == 3 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=3">3</a>
            <a class="{% if current_page_offset == 4 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=4">4</a>
            {% if current_page_range|length > 6 %}
            ...
            {% endif %}
            <a class="{% if current_page_offset == current_page_range|length|add:-1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length|add:-1}}">{{current_page_range|length|add:-1}}</a>
            <a class="{% if current_page_offset == current_page_range|length %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length}}">{{current_page_range|length}}</a>
        {% elif current_page_offset == current_page_range|length|add:-2 %}
            <a class="{% if current_page_offset == 1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=1">1</a>
            <a class="{% if current_page_offset == 2 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=2">2</a>
            {% if current_page_range|length > 6 %}
            ...
            {% endif %}
            <a class="{% if current_page_offset == current_page_range|length|add:-3 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length|add:-3}}">{{current_page_range|length|add:-3}}</a>
            <a class="{% if current_page_offset == current_page_range|length|add:-2 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length|add:-2}}">{{current_page_range|length|add:-2}}</a>
            <a class="{% if current_page_offset == current_page_range|length|add:-1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length|add:-1}}">{{current_page_range|length|add:-1}}</a>
            <a class="{% if current_page_offset == current_page_range|length %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length}}">{{current_page_range|length}}</a>
        {% else %}
            <a class="{% if current_page_offset == 1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=1">1</a>
            <a class="{% if current_page_offset == 2 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset=2">2</a>
            {% if current_page_range|length > 7 and current_page_offset > 4 %}
            ...
            {% endif %}
            <a class="{% if current_page_offset == current_page_offset|add:-1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset|add:-1}}">{{current_page_offset|add:-1}}</a>
            <a class="{% if current_page_offset == current_page_offset %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset}}">{{current_page_offset}}</a>
            <a class="{% if current_page_offset == current_page_offset|add:1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset|add:1}}">{{current_page_offset|add:1}}</a>
            {% if current_page_range|length > 7 and current_page_offset < current_page_range|length|add:-3 %}
            ...
            {% endif %}
            <a class="{% if current_page_offset == current_page_range|length|add:-1 %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length|add:-1}}">{{current_page_range|length|add:-1}}</a>
            <a class="{% if current_page_offset == current_page_range|length %}selected_a{% endif %}"
               href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_range|length}}">{{current_page_range|length}}</a>
        {% endif %}
    {% else %}
        {% for page_offset in current_page_range %}
        <a class="{% if current_page_offset == page_offset %}selected_a{% endif %}"
           href="{{current_include_limit_exclude_offset_url}}&offset={{page_offset}}">{{page_offset}}</a>
        {% empty %}
        <a class="{% if current_page_offset == 1 %}selected_a{% endif %}"
           href="{{current_include_limit_exclude_offset_url}}&offset=1">1</a>
        {% endfor %}
    {% endif %}

    <a href="{{current_include_limit_exclude_offset_url}}&offset={{current_page_offset|add:1}}">&gt;</a>
    <a href="{{current_include_limit_exclude_offset_url}}&offset=-1">&gt;&gt;</a>

    <form method="GET" action="{{current_include_limit_exclude_offset_url}}">
        {% if current_tid %}
            <input type="hidden" name="tid" value="{{current_tid}}"/>
        {% endif %}
        <input type="hidden" name="limit" value="{{current_limit}}"/>
        <input type="number" name="offset" value="{{current_page_offset}}"
               min="1" max="{{current_page_range|length}}" step="1"
               title="Nhập số thứ tự trang muốn chuyển đến"
               style="width:40px;text-align:center;"/>
        <button type="submit" style="width:fit-content;min-width:fit-content;">GO</button>
    </form>
</nav>