/* header */
header {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 8px;
    align-items: center;
    display: grid;
    grid-template-columns: 18.75% 62.5% 18.75%;
    box-shadow: 0px 4px 4px 0px #B3B3B3;
    background-color: #FFFFFF;
}
header a {
    font-family: none;
    font-family: Arial;
}
#id_header_div_user {
    box-sizing:border-box;
    /* width:336px; */
    height:100%;
    max-width: 100%;
    padding:0;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    grid-column-start: 1;
    grid-column-end: 2;
}
#id_header_div_user>a {
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    height: 40px;
    padding: 0 8px;
    line-height: 38px;
    border: 1px solid #000000;
    border-radius: 6px;
    max-width: 100%;
    min-width: 80px;
    color: #000000;
    text-decoration: none;
    text-wrap: nowrap;
}
#div_user>a:visited {
    color: #000000;
}

header>nav {
    box-sizing: border-box;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    display: flex;
    overflow-y: hidden;
    padding: 0 8px;
    overflow-x: auto;
}
header>nav>a {
    box-sizing: border-box;
    display: inline-block;
    width: 20%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-color: #E7F2FE;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    color: #000000;
    font-weight: bold;
    font-size: 13px;
}
header>nav>a:first {
    border-left-width:2px;
}
header>nav>a:last {
    border-right-width:2px;
}
header>nav>a:not(.selected_a) {
    text-decoration: none;
}
header>nav>a.selected_a {
    background-color: #E7F2FE;
}
header>nav>a:not(.selected_a):hover {
    opacity: 0.8;
    background-color: #E7F2FE;
}
header>nav>a.selected_a:hover {
    opacity: 0.6;
}

#id_header_buttons {
    box-sizing:border-box;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  header {
    height: 48px;
  }
}
@media only screen and (max-width:600px) {
  /* For mobile phones: */
  header {
    min-height: 96px;
    height: fit-content;
  }
  #id_header_div_user {
    height: 48px;
    justify-content: flex-start;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow-x: auto;
    padding: 0;
  }
  #id_header_div_user>a {
    height: 40px;
    line-height: 40px;
  }
  header>nav {
    height: 48px;
    justify-content: flex-start;
    grid-column-start: 1;
    grid-column-end: 4;
    overflow-x: auto;
    padding: 0;
  }
  header>nav>a {
    width: 25%;
  }
  #id_header_buttons {
    height: 48px;
    grid-column-start: 1;
    grid-column-end: 4;
    overflow-x: auto;
  }
}

/* button logout css */
#logout_dialog {
    box-sizing: border-box;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    border: 0;
    background-color: #b3b3b3b3;
    justify-content: center;
    align-items: center;
}
#logout_dialog:target {
    display: flex;
}
#logout_dialog>form {
    box-sizing:border-box;
    border-radius: 8px;
    padding: 24px 49px;
    gap: 24px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* end button logout css */
/* end header */
#id_header_nav {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #B3B3B3;
    background-color: #FFFFFF;
    overflow-x: auto;
}
#id_header_nav>nav {
    box-sizing: border-box;
    height: 100%;
    display: flex;
}
#id_header_nav>nav>a {
    box-sizing: border-box;
    display: inline-block;
    width: 160px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-color: #E7F2FE;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    color: #000000;
    font-weight: bold;
    font-size: 13px;
}
#id_header_nav>nav>a:first {
    border-left-width:2px;
}
#id_header_nav>nav>a:last {
    border-right-width:2px;
}
#id_header_nav>nav>a:not(.selected_a) {
    text-decoration: none;
}
#id_header_nav>nav>a.selected_a {
    background-color: #E7F2FE;
}
#id_header_nav>nav>a:not(.selected_a):hover {
    opacity: 0.8;
    background-color: #E7F2FE;
}
#id_header_nav>nav>a.selected_a:hover {
    opacity: 0.6;
}