:root {
    --button: #04AE70;
    --button-color: #FFFFFF;
    --button-hover-background-color: #06E090;
    --button-focus-border-color: #5E6D87;
    --button-focus-shadow: 0 0 0 2px inset #FFFFFF;
    --button-active-background-color: #05C780;
}
button {
    box-sizing: border-box;
    min-width: 100px;
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    background-color: var(--button);
    border-color: var(--button);
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    color: var(--button-color);
    text-wrap: nowrap;
    font-family: none;
}
button:hover {
    background-color: var(--button-hover-background-color);
}
button:focus {
    border-color: var(--button-focus-border-color);
    box-shadow: var(--button-focus-shadow);
}
button:active {
    background-color: var(--button-active-background-color);
}
button:disabled {
    background-color: var(--button);
    border-color: var(--button-focus-border-color);
    opacity: 0.2;
}
button.contain_a {
    padding: 0;
}
button.contain_a>a {
    box-sizing: border-box;
    color: inherit;
    display: inline-block;
    height: 100%;
    text-decoration: none;
    text-wrap: nowrap;
    width: 100%;
    line-height: 36px;
}
button.contain_a>a:visited {
    color: inherit;
}
a.button {
    box-sizing: border-box;
    min-width: 100px;
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    background-color: var(--button);
    border-color: var(--button);
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: var(--button-color);
    text-wrap: nowrap;
    display: inline-block;
    text-decoration: none;
    line-height: 16px;
    font-family: none;
}
a.button:hover {
    background-color: var(--button-hover-background-color);
}
a.button:focus {
    border-color: var(--button-focus-border-color);
    box-shadow: var(--button-focus-shadow);
}
a.button:active {
    background-color: var(--button-active-background-color);
}
a.button:disabled {
    background-color: var(--button);
    border-color: var(--button-focus-border-color);
    opacity: 0.2;
}
a.button:visited {
    color: var(--button-color);
}