<!DOCTYPE html>
{% load static %}
<html lang="vi-vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="{% static 'users/css/button.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/input.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/only_a_form.css' %}">
</head>
<body>
    <main>
        <form method="post">
            <h2>ĐỔI MẬT KHẨU</h2>
            {% csrf_token %}
            <input type="hidden" name="email" value="{{user.email}}"/>
            <div class="input_div">
                <input required
                       type="password"
                       id="id_old_password"
                       name="old_password"
                       autocomplete="new-password"
                       placeholder="{{data.old_password.label}}"
                       title="{{data.old_password.label}}"
                       class="{% if data.old_password.errors %}error{% endif %}">
                {% for error in data.old_password.errors %}
                    <p class="error" data-ref="id_old_password">{{error}}</p>
                {% endfor %}
            </div>
            <div class="input_div">
                <input required
                       type="password"
                       id="id_new_password"
                       name="new_password"
                       autocomplete="new-password"
                       placeholder="{{data.new_password.label}}"
                       title="{{data.new_password.label}}"
                       class="{% if data.new_password.errors or data.repeated_new_password.errors %}error{% endif %}">
                {% for error in data.new_password.errors %}
                    <p class="error" data-ref="id_new_password">{{error}}</p>
                {% endfor %}
            </div>
            <div class="input_div">
                <input required
                       type="password"
                       id="id_repeated_new_password"
                       name="repeated_new_password"
                       autocomplete="new-password"
                       placeholder="{{data.repeated_new_password.label}}"
                       title="{{data.repeated_new_password.label}}"
                       class="{% if data.new_password.errors or data.repeated_new_password.errors %}error{% endif %}"/>
                {% for error in data.repeated_new_password.errors %}
                    <p class="error" data-ref="id_repeated_new_password">{{error}}</p>
                {% endfor %}
            </div>
            {% for error in data.errors %}
                <p data-ref>{{error}}</p>
            {% endfor %}
            <div style="position:relative;">
                <button type="submit">Đổi mật khẩu</button>
                <p id="id_previous_adjacent_link" style="position:absolute;top:0;right:-124px;width:75px;">
                    {% if data.previous_adjacent_url %}
                        <a href="{{data.previous_adjacent_url}}">Tới trang trước</a>
                    {% endif %}
                </p>
            </div>
        </form>
    </main>

    <script src="{% static 'users\js\input.js' %}"></script>
</body>
</html>