<!DOCTYPE html>
{% load static %}
<html lang="vi-vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="{% static 'users/css/button.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/input.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/only_a_form.css' %}">
</head>
<body>
    <main>
        <form method="post">
            <h2>ĐĂNG KÝ</h2>
            {% csrf_token %}
            <div class="input_div">
                <input required autofocus
                       type="text" spellcheck="false"
                       id="id_email"
                       name="email"
                       placeholder="{{data.email.label}}"
                       title="{{data.email.label}}"
                       value="{{data.email.value}}"
                       class="{% if data.email.errors %}error{% endif %}">
                {% for error in data.email.errors %}
                    <p class="error" data-ref="id_email">{{error}}</p>
                {% endfor %}
            </div>
            <div class="input_div">
                <input required
                       type="text" spellcheck="false"
                       id="id_name"
                       name="name"
                       placeholder="{{data.name.label}}"
                       title="{{data.name.label}}"
                       value="{{data.name.value}}"
                       class="{% if data.name.errors %}error{% endif %}">
                {% for error in data.name.errors %}
                    <p class="error" data-ref="id_name">{{error}}</p>
                {% endfor %}
            </div>
            <div class="input_div">
                <input required
                       type="password"
                       id="id_password"
                       name="password"
                       autocomplete="new-password"
                       placeholder="{{data.password.label}}"
                       title="{{data.password.label}}"
                       class="{% if data.password.errors or data.repeated_password.errors %}error{% endif %}">
                {% for error in data.password.errors %}
                    <p class="error" data-ref="id_password">{{error}}</p>
                {% endfor %}
            </div>
            <div class="input_div">
               <input required
                      type="password"
                      id="id_repeated_password"
                      name="repeated_password"
                      autocomplete="new-password"
                      placeholder="{{data.repeated_password.label}}"
                      title="{{data.repeated_password.label}}"
                      class="{% if data.password.errors or data.repeated_password.errors %}error{% endif %}"/>
                {% for error in data.repeated_password.errors %}
                    <p class="error" data-ref="id_repeated_password">{{error}}</p>
                {% endfor %}
            </div>
            {% for error in data.errors %}
                <p data-ref>{{error}}</p>
            {% endfor %}
            <div>
                <button type="submit">Đăng ký</button>
            </div>
            <div style="word-break:break-word;">
                Nếu đã có tài khoản, đăng nhập tại <a href="{% url 'users:sign_in' %}">đây</a>.
            </div>
        </form>
    </main>

    <script src="{% static 'users\js\input.js' %}"></script>
</body>
</html>