:root {
    --main: #E6FEF5;
    --form: #FFFFFF;
    --form-box-shadow: 0px 4px 4px 0px #B3B3B3;
    --p-error-color: #F5493D;
}

body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    width: 100%;
}

main {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
}

form {
    box-sizing: border-box;
    /*width: 396px;*/
    width: fit-content;
    max-width: calc(100% - 16px);
    height: fit-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 98px;
    align-items: center;
    background-color: var(--form);
    box-shadow: var(--form-box-shadow);
}

input {
    min-width: 182px;
}

h2, p, label, span {
    font-family: none;
    font-family: Arial;
}

h2:not(.native) {
    box-sizing: border-box;
    margin: 0;
}

p:not(.native) {
    box-sizing: border-box;
    margin: 0;
    word-break: break-word;
}

p[data-ref]:not(.native){
    font-size: 11px;
}
p[data-ref].error.apply:not(.native) {
    color: var(--p-error-color);
}
p[data-ref].error:not(.native) {
    max-width: 182px;
    width: 100%;
}

label:not(.native) {
    font-size: 13px;
}

span:not(.native) {
    font-size: 11px;
}

@media only screen and (max-width:800px) {
  /* For tablets and mobile phones: */
  #id_previous_adjacent_link, #id__previous_adjacent_link {
    display: none;
  }
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  form {
    margin-left: 8px;
    margin-right: 8px;
    max-width: calc(100% - 16px);
    width: calc(100% - 16px);
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
  }
}